{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Edit Article</h1>
    <div class="text-center">
        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('article_index') }}" class="btn btn-primary mt-4">back to list</a>
    </div>


    {{ include('article/_delete_form.html.twig') }}
{% endblock %}